h1{
    background-color: rgb(120, 120, 207);
}

a{
    background-color: rgb(198, 152, 152);
}

div{
    background-color: chocolate;
}

span{
    background-color: rgb(59, 164, 93);
}

div{
    background-color: chocolate;
}

a{
    color: darkblue;
}